/* ----------------colors------------------ */
$accent: hsl(185, 50%, 38%);
$accent-light: hsla(185, 50%, 38%,.5);
$gray: hsl(0, 0%, 30%);


* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    line-height: 1.75;
    font-family: "Montserrat","Arial",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}


//  div, p, h1, h2, h3, h4, h5, h6, span {
//      outline: 1px solid green;
// }
